<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>CALCULATOR</h1>
    <form id="calculator-form" action="http://localhost:3000/calculator" method="post">
        <input type="number" id="number1" name="number1"><br>
        <input type="number" id="number2" name="number2"><br><br>
        <button id="send-data" type="submit">Submit</button>


    </form><br>
    <h4 id="result-field">RESULT : </h4>
    <script>
        document.getElementById("calculator-form").addEventListener("submit",(e)=> {
            e.preventDefault();
            console.log("stop there")
            const number1=document.getElementById("number1").value;
            const number2=document.getElementById("number2").value;
            console.log(number1,"  ",number2);
            fetch("http://localhost:3000/calculator",{
                method:"post",
                headers: {
                    "Content-Type":"application/json"
                },
                body: JSON.stringify({
                    number1:number1,
                    number2:number2
                })
            })
            .then((response)=> {
                if(!response.ok) {
                    throw new Error("failed to fetch")
                }
                return response.json()

            })
            .then((data)=> {
                console.log(data);
                document.getElementById("result-field").innerText=`RESULT :${data.result} `
            })
            .catch((error)=> {
                console.error("error",error)
            })


        })
    </script>
</body>
</html>